<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>ROOT</string>
	<key>submenu</key>
	<array>
		<dict>
			<key>name</key>
			<string>PolyTeX</string>
			<key>submenu</key>
			<array>
				<dict>
					<key>content</key>
					<string>--Applescript direct
-- Macros PolyTeX pour TeXShop
-- S. Mottelet, 2014
set dirname to do shell script "dirname " &amp; quoted form of #FILEPATH#
set basename to do shell script "basename " &amp; quoted form of #FILEPATH# &amp; " .tex"
set output to do shell script "cd " &amp; dirname  &amp;"; PATH=$PATH:/Library/TeX/texbin polyindex  " &amp; basename &amp; " 2&gt;&amp;1"
tell application "TeXShop" to display dialog (output)

</string>
					<key>key</key>
					<string>I</string>
					<key>name</key>
					<string>Générer les index (concepts et notions)</string>
				</dict>
				<dict>
					<key>content</key>
					<string>--Applescript direct
-- Macros PolyTeX pour TeXShop
-- S. Mottelet, 2014
set dirname to do shell script "dirname " &amp; quoted form of #FILEPATH#
tell application "Terminal"
	reopen
	activate
	do script "cd " &amp; dirname &amp; ";clear;ls -l" in front Window
end tell</string>
					<key>name</key>
					<string>Terminal (make)</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
